Torch
Transformers
Flask==2.1.1
numpy==1.21.5
opencv-python==4.5.5
tensorflow==2.7.0
absl-py==1.1.0
google-auth==2.6.6
google-auth-oauthlib==0.4.6
google-auth-httplib2==0.19.0
google-pasta==0.2.0
h5py==3.6.0
Keras-Preprocessing==1.1.2
libclang==14.0.0
numpy-groupies==0.3.1
opt-einsum==3.3.0
protobuf==3.19.4
py-cpuinfo==8.0.0
scipy==1.8.0
termcolor==1.1.0
tf-estimator==2.7.0
tensorflow-io==0.24.0
tensorflow-text==2.7.0
Werkzeug==2.1.1
